# Local / Docker PostgreSQL
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecommerce_analytics

# Supabase PostgreSQL (Session Mode - Port 5432)
# DATABASE_URL=postgresql://postgres.[project-ref]:[db-password]@aws-0-[region].pooler.supabase.com:5432/postgres?sslmode=require

# Supabase PostgreSQL (Transaction Mode / Pooler - Port 6543)
# DATABASE_URL=postgresql://postgres.[project-ref]:[db-password]@aws-0-[region].pooler.supabase.com:6543/postgres?sslmode=require

DATABASE_URL=postgresql://postgres.[project-ref]:[db-password]@aws-0-[region].pooler.supabase.com:5432/postgres?sslmode=require
DATASET_PATH=data/raw/ecommerce_india_10000_rows.csv

